%section{itemscope: '', itemtype: "http://schema.org/MusicGroup"}
  %meta{ itemprop: "name", content: @artist.name }
  %meta{ itemprop: "image", content: @artist.images['extralarge'] }
  %meta{ itemprop: "url", content: artist_custom_url(@artist.name) }

  %h3.text-semibold= @artist.name
  = image_tag @artist.images['extralarge'], alt: @artist.name

  %section
    %h4 About #{@artist.name}
    %article= @artist.content.gsub('http://www.last.fm/music', '').gsub(" on Last.fm", '').html_safe

  %section
    %h4 Statistics
    %ul
      %li #{@artist.listenercount} listeners
      %li #{@artist.playcount} plays

  %section
    %h4 Top albums
    %ul
      - @artist.top_albums.each do |album|
        %li
          = link_to artist_album_root_path(custom_artist_name(album.artist), custom_artist_name(album.name)) do
            %h3 #{album.name}
            = image_tag album.images['extralarge'], alt: "#{album.artist} - #{album.name}"

  %section
    %h4 Related tags
    %ul
      - @artist.tags.each do |tag|
        %li
          = link_to tag, tag_path(tag)

  %section
    %h4 Top tracks
    %ul
      - @artist.top_tracks.each do |track|
        %li{itemprop: "track", itemscope: '', itemtype: "http://schema.org/MusicRecording" }
          = image_tag track.thumbnail, alt: "#{track.artist} - #{track.name}"
          &nbsp;
          %span{ itemprop: "name" } #{track.name}
          %meta{ itemprop: "url", content: artist_custom_url(track.artist) }
          %meta{ itemprop: "audio", content: artist_custom_url(track.artist) }
          %meta{ itemprop: "duration", content: (Time.now.at_beginning_of_day + track.duration.seconds).strftime("PT%MM%SS") }