%section{itemscope: '', itemtype: "http://schema.org/MusicGroup"}

  %h3.text-semibold{ itemprop: "name" }= @artist.name
  %a{ itemprop: "url", href: artist_custom_path(@artist.name) }= image_tag @artist.images['extralarge'], alt: @artist.name, itemprop: "image"

  %section
    %h4
      About #{@artist.name}
    %article{ itemprop: "about" }= format_text(@artist.summary)

  %section
    %h4
      Biography
    %article{ itemprop: "description" }= format_text(@artist.content)

  %section
    %h4 Statistics
    %ul
      %li #{@artist.listenercount} listeners
      %li #{@artist.playcount} plays

  %section
    %h4 Top albums
    %ul
      - @artist.top_albums.each do |album|
        %li{itemprop: 'album', itemscope: '', itemtype: "http://schema.org/MusicAlbum"}
          = link_to artist_album_root_path(custom_artist_name(album.artist), custom_artist_name(album.name)), itemprop: "url" do
            %h3{ itemprop: "name" } #{album.name}
            = image_tag album.images['extralarge'], alt: "#{album.artist} - #{album.name}"

  %section
    %h4 Related tags
    %ul
      - @artist.tags.each do |tag|
        %li
          = link_to tag, tag_path(tag)

  %section
    %h4 Top tracks
    %ul
      - @artist.top_tracks.each do |track|
        %li{itemprop: "track", itemscope: '', itemtype: "http://schema.org/MusicRecording" }
          %a{ itemprop: 'url', href: artist_custom_url(track.artist) }
            = image_tag track.thumbnail, alt: "#{track.artist} - #{track.name}"
            &nbsp;
            %span{ itemprop: "name" } #{track.name}
          \-
          %span{ itemprop: 'duration' } #{ (Time.now.at_beginning_of_day + track.duration.to_i.seconds).strftime("PT%MM%SS") }
          \-
          %a{ itemprop: "inAlbum", href: artist_custom_url(track.artist) }= track.artist
          %meta{ itemprop: "audio", content: artist_custom_url(track.artist) }

