.row
  .pull-left.text-center
    %i.fa.fa-user.text-xlg.panel-padding-h.icon-left
  .search-result
    .col-md-12
    .panel.widget-followers
      .panel-heading
        %span.panel-title
          Artist results for #{params[:query]}
      .panel-body
        %ul.grid.cs-style-3.row
          - @search_result[:artists].each do |artist|
            %li.col-lg-3= render 'home/artist', artist: artist
.row
  .pull-left.text-center
    %i.fa.fa-dot-circle-o.text-xlg.panel-padding-h.icon-left
  .search-result
    .col-md-12
    .panel.widget-followers
      .panel-heading
        %span.panel-title
          Album results for #{params[:query]}
      .panel-body
        %ul.grid.cs-style-3.row
          - @search_result[:albums].each do |album|
            %li.col-lg-3= render 'home/album', album: album
.row
  .pull-left.text-center
    %i.fa.fa-music.text-xlg.panel-padding-h.icon-left
  .search-result
    .col-md-12
    .panel.widget-followers
      .panel-heading
        %span.panel-title
          Track results for #{params[:query]}
      .panel-body
        - @search_result[:tracks].each do |track|
          = render 'home/track', track: track