.follower
  = image_tag track.images['extralarge'].present? ? track.images['extralarge'] : 'demo/avatars/1.jpg', alt: track.name, class: 'follower-avatar'
  .body
    .follower-controls
      - if track.playcount
        %span.follower-username #{track.playcount} plays &nbsp;&nbsp;
      .btn-group
        %a.btn.btn-primary{ title: 'Play' }
          %i.fa.fa-play
        %a.btn.btn-primary{ title: 'Add to playlist' }
          %i.fa.fa-indent

    %a.follower-name.text-bg
      %strong #{track.name}
      - if track.duration
        [#{(Time.now.at_beginning_of_day + track.duration.seconds).strftime("%M:%S")}]
    %br/
    %a.follower-username{:href => "#"}= track.artist

