- if @artist
  - autoload = true
  .ui-layout-west.scroll-pane
    .artist
      .cover
        = image_tag @img_url + @artist["pic_medium"]
      .info
        %h2
          = @artist["desc"]
        -if @genres
          - @genres.each do |genre|
            %a
              %span.label.label-info= genre

      .clearfix
    #accordion.panel-group.albuns
      - @discography["item"].each_with_index do |album, index|
        .panel.panel-default.album
          .panel-heading
            %h4.panel-title
              .row
                .col-md-2.cover
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse_#{index}"}
                    = image_tag @img_url + album["cover"]
                .col-md-9.info
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse_#{index}"}
                    %h3= album["desc"]

          .panel-collapse.collapse{id: "collapse_#{index}", class: (index == 0 ? 'in' : '')}
            .panel-body
              %ol
                - album["discs"][0].each_with_index do |music, music_index|
                  %li.music_link{ data: { target: "#collapse_#{index}" }, class: (index == 0 && music_index == 0 ? 'active' : '') }
                    = link_to player_index_path(artist: @artist["desc"], music: music["desc"], code: music['id']) do
                      .row
                        .col-md-10
                          %i.status.icon-music
                          %span= music["desc"]
                        .col-md-2.text-right
                          %i.action.icon-play-circle.align-right


  .ui-layout-center.scroll-pane
    .col-md-6
      %section#player
        #player_container
    .col-md-5
      %section#song_info
        %header
      %section#lyrics
        %article
          %header
            %h3
        #lyric_text
  .ui-layout-east.scroll-pane

    - if @artist['related']
      %section#related_artists
        %h4 Artistas relacionados
        %ul
          - @artist['related'].each do |artist|
            %li
              .row
                = link_to artist_index_path(artist: artist['name']) do
                  .col-md-3
                    = image_tag "http://s2.vagalume.com#{artist['url']}images/profilew40.jpg"
                  .col-md-9
                    %span= artist['name']


    - if Rails.env.production?
      %section#merchant
        :javascript
          bb_bid = "1690293";
            bb_lang = "en-US";
            bb_name = "custom";
            bb_limit = "5";
            bb_format = "bbh";
        %script{src: "http://static.boo-box.com/javascripts/embed.js", type: "text/javascript"}