- if @artist
  .ui-layout-west.scroll-pane
    .artist
      .col-md-3.cover
        = image_tag @img_url + @artist["pic_medium"]
      .col-md-9.info
        %h2
          = @artist["desc"]
        -if @genres
          - @genres.each do |genre|
            %span.label.label-info= genre

      .clearfix
    #accordion.panel-group.albuns
      - @discography["item"].each_with_index do |album, index|
        .panel.panel-default.album
          .panel-heading
            %h4.panel-title
              .row
                .col-md-2.cover
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse_#{index}"}
                    = image_tag @img_url + album["cover"]
                .col-md-10.info
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse_#{index}"}
                    %h3= album["desc"]

          .panel-collapse.collapse{id: "collapse_#{index}", class: (index == 0 ? 'in' : '')}
            .panel-body
              %ol
                - album["discs"][0].each_with_index do |music, music_index|
                  %li.music_link{ data: { target: "#collapse_#{index}" }, class: (index == 0 && music_index == 0 ? 'active' : '') }
                    %a{data: { href: player_index_path(artist: @artist["desc"], music: music["desc"])} }
                      .song
                        .col-md-2
                          &nbsp;
                        .col-md-10
                          %i.status.icon-music
                          %span= music["desc"]
                        .clearfix

  .ui-layout-center.scroll-pane
    .col-md-12
      %section#song_info
        %header
          %h3
            %i.icon-spinner.icon-spin
            Carregando...
      %section#player
        #player_container
      .row
        .col-md-8
          %section#social
            %br
            .twitter.pull-left
              %a{href: "https://twitter.com/share", class: "twitter-share-button", 'data-text' => "Ouvindo #{@artist['desc']} online pelo Alle Songs.", data: { lang: "en", size: "large", count: "none"}} Tweet
            .facebook.pull-left
              .fb-like{"data-action" => "like", "data-colorscheme" => "light", "data-height" => "100", "data-width" => "300", "data-href" => artist_root_url(@artist['desc'].gsub("&", "e").gsub("/", "+").gsub(' ', '+')), "data-layout" => "standard", "data-send" => "false", "data-show-faces" => "true"}
            .clearfix
          %section#lyrics
            %br
            %article
              %header
                %h3
            #lyric_text
        .col-md-4
          %br
          .btn-group.btn-group-justified
            %a.btn.btn-default#backward
              %i.icon-fast-backward
            %a.btn.btn-default#play_pause
              %i.icon-play
            %a.btn.btn-default#forward
              %i.icon-fast-forward

  .ui-layout-east.scroll-pane

    - if Rails.env.production?
      %section#merchant
        = render 'layouts/adsense'
      %br

    - if @artist['related']
      %section#related_artists
        %h3
          %i.icon-group
          Artistas relacionados
        %ul
          - @artist['related'].each do |artist|
            %li
              = link_to artist_root_path(artist['name'].gsub("&", "e").gsub("/", "+").gsub(' ', '+')) do
                = image_tag "http://s2.vagalume.com#{artist['url']}images/profilew60.jpg"
                %span= artist['name']


