.page-profile
  .profile-full-name
    %h1.text-semibold= @artist.name
  .profile-row
    .left-col
      .profile-block
        .panel.profile-photo
          = image_tag @artist.images['extralarge']
        %br/
        %a.btn.btn-default{:href => "#"}
          %i.fa.fa-play
          play
        %a.btn{:href => "#"}
          %i.fa.fa-list
          queue
      .panel.panel-transparent
        .panel-heading
          %span.panel-title About #{@artist.name}
        .panel-body
          = @artist.summary.gsub('http://www.last.fm/music', '').gsub('<a href="/Nirvana">Read more about Nirvana on Last.fm</a>.', '').html_safe
      .panel.panel-transparent
        .panel-heading
          %span.panel-title Statistics
        .list-group
          %a.list-group-item{:href => "#"}
            %strong= @artist.listenercount
            listeners
          %a.list-group-item{:href => "#"}
            %strong= @artist.playcount
            plays
      .panel.panel-transparent.profile-skills
        .panel-heading
          %span.panel-title Tags
        .panel-body
          - @artist.tags.each do |tag|
            %span.label.label-primary= tag
      .panel.panel-transparent
        .panel-heading
          %span.panel-title Social
        .list-group
          %a.list-group-item{:href => "#"}
            %i.profile-list-icon.fa.fa-twitter{:style => "color: #4ab6d5"}
            @dsteiner
          %a.list-group-item{:href => "#"}
            %i.profile-list-icon.fa.fa-facebook-square{:style => "color: #1a7ab9"}
            Denise Steiner
          %a.list-group-item{:href => "#"}
            %i.profile-list-icon.fa.fa-envelope{:style => "color: #888"}
            dsteiner@example.com
    .right-col
      %hr.profile-content-hr.no-grid-gutter-h/
      .profile-content
        %ul#profile-tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#profile-tabs-discography"} Top albums
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-board"} Board
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-followers"} Followers
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-following"} Following
        .tab-content.tab-content-bordered.panel-padding
          #profile-tabs-discography.tab-pane.fade.in.active

            %ul.grid.cs-style-3.row
              - @artist.top_albums(true).each do |album|
                %li.col-md-3= render 'home/album', album: album

          #profile-tabs-board.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .comment-body
                %form#leave-comment-form.comment-text.no-padding.no-border{:action => ""}
                  %textarea.form-control{:rows => "1"}
                  .expanding-input-hidden{:style => "margin-top: 10px;"}
                    %label.checkbox-inline.pull-left
                      %input.px{:type => "checkbox"}/
                      %span.lbl Private message
                    %button.btn.btn-primary.pull-right Leave Message
            %hr.no-panel-padding-h.panel-wide/
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Robert Jang
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                  \&nbsp;&nbsp;
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                  \&nbsp;&nbsp;·&nbsp;&nbsp;
                  %a{:href => "#"} Reply
              / / .comment-body
              .comment
                %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                .comment-body
                  .comment-text
                    .comment-heading
                      %a{:href => "#", :title => ""} Timothy Owens
                      %span 14 hours ago
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                  .comment-footer
                    %a{:href => "#"}>
                      %i.fa.fa-thumbs-o-up
                    \&nbsp;&nbsp;
                    %a{:href => "#"}
                      %i.fa.fa-thumbs-o-down
                    \&nbsp;&nbsp;·&nbsp;&nbsp;
                    %a{:href => "#"} Reply
                / / .comment-body
              / / .comment
              .comment
                %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                .comment-body
                  .comment-text
                    .comment-heading
                      %a{:href => "#", :title => ""} Denise Steiner
                      %span 14 hours ago
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                  .comment-footer
                    %a{:href => "#"}>
                      %i.fa.fa-thumbs-o-up
                    \&nbsp;&nbsp;
                    %a{:href => "#"}
                      %i.fa.fa-thumbs-o-down
                    \&nbsp;&nbsp;·&nbsp;&nbsp;
                    %a{:href => "#"} Reply
                / / .comment-body
                .comment
                  %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
                  .comment-body
                    .comment-text
                      .comment-heading
                        %a{:href => "#", :title => ""} John Doe
                        %span 14 hours ago
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    .comment-footer
                      %a{:href => "#"}>
                        %i.fa.fa-thumbs-o-up
                      \&nbsp;&nbsp;
                      %a{:href => "#"}
                        %i.fa.fa-thumbs-o-down
                      \&nbsp;&nbsp;·&nbsp;&nbsp;
                      %a{:href => "#"} Reply
                  / / .comment-body
                / / .comment
              / / .comment
            / / .comment
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Michelle Bortz
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                  \&nbsp;&nbsp;
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                  \&nbsp;&nbsp;·&nbsp;&nbsp;
                  %a{:href => "#"} Reply
              / / .comment-body
            / / .comment
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Robert Jang
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                  \&nbsp;&nbsp;
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                  \&nbsp;&nbsp;·&nbsp;&nbsp;
                  %a{:href => "#"} Reply
              / / .comment-body
              .comment
                %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                .comment-body
                  .comment-text
                    .comment-heading
                      %a{:href => "#", :title => ""} Timothy Owens
                      %span 14 hours ago
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                  .comment-footer
                    %a{:href => "#"}>
                      %i.fa.fa-thumbs-o-up
                    \&nbsp;&nbsp;
                    %a{:href => "#"}
                      %i.fa.fa-thumbs-o-down
                    \&nbsp;&nbsp;·&nbsp;&nbsp;
                    %a{:href => "#"} Reply
                / / .comment-body
              / / .comment
              .comment
                %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                .comment-body
                  .comment-text
                    .comment-heading
                      %a{:href => "#", :title => ""} Denise Steiner
                      %span 14 hours ago
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                  .comment-footer
                    %a{:href => "#"}>
                      %i.fa.fa-thumbs-o-up
                    \&nbsp;&nbsp;
                    %a{:href => "#"}
                      %i.fa.fa-thumbs-o-down
                    \&nbsp;&nbsp;·&nbsp;&nbsp;
                    %a{:href => "#"} Reply
                / / .comment-body
                .comment
                  %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
                  .comment-body
                    .comment-text
                      .comment-heading
                        %a{:href => "#", :title => ""} John Doe
                        %span 14 hours ago
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    .comment-footer
                      %a{:href => "#"}>
                        %i.fa.fa-thumbs-o-up
                      \&nbsp;&nbsp;
                      %a{:href => "#"}
                        %i.fa.fa-thumbs-o-down
                      \&nbsp;&nbsp;·&nbsp;&nbsp;
                      %a{:href => "#"} Reply
                  / / .comment-body
                / / .comment
              / / .comment
            / / .comment
            .comment
              %img.comment-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .comment-body
                .comment-text
                  .comment-heading
                    %a{:href => "#", :title => ""} Michelle Bortz
                    %span 14 hours ago
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                .comment-footer
                  %a{:href => "#"}>
                    %i.fa.fa-thumbs-o-up
                  \&nbsp;&nbsp;
                  %a{:href => "#"}
                    %i.fa.fa-thumbs-o-down
                  \&nbsp;&nbsp;·&nbsp;&nbsp;
                  %a{:href => "#"} Reply
              / / .comment-body
            / / .comment
          / / .tab-pane
          #profile-tabs-followers.tab-pane.fade.widget-followers
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
          / / .tab-pane
          #profile-tabs-following.tab-pane.fade.widget-followers
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-success{:href => "#"}
                    %i.fa.fa-check
                    %span &nbsp;&nbsp;Following
                %a.follower-name{:href => "#"} John Doe
                %br/
                %a.follower-username{:href => "#"} @jdoe
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Michelle Bortz
                %br/
                %a.follower-username{:href => "#"} @mbortz
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Timothy Owens
                %br/
                %a.follower-username{:href => "#"} @towens
            .follower
              %img.follower-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
              .body
                .follower-controls
                  %a.btn.btn-sm.btn-outline{:href => "#"} Follow
                %a.follower-name{:href => "#"} Denise Steiner
                %br/
                %a.follower-username{:href => "#"} @dsteiner
          / / .tab-pane
        / / .tab-content