.page-profile{ ng: { if: "artist != undefined" } }
  .profile-full-name
    %h1.text-semibold= '{{artist.name}}'
  .profile-row
    .left-col
      .profile-block
        .panel.profile-photo
          %img{ ng: { src: "{{artist.image[3]['#text'] || '#{image_url('demo/avatars/1.jpg')}'}}" }, alt: '{{artist.name}}' }
        %br/
        %a.btn.btn-default{ title: 'Play', ng: { click: "addArtistToPlaylist(artist, true)"} }
          %i.fa.fa-play
          play
        %a.btn{ title: 'Add to playlist', ng: { click: "addArtistToPlaylist(artist, false)"} }
          %i.fa.fa-indent
          add to playlist
        %br
      .panel.panel-transparent
        .panel-heading
          %span.panel-title About {{artist.name}}
        .panel-body{ 'ng-bind-html' => 'artist.bio.summary | html_filter' }

          -#= @artist.summary.gsub('http://www.last.fm/music', '').gsub('<a href="/Nirvana">Read more about Nirvana on Last.fm</a>.', '').html_safe
      .panel.panel-transparent
        .panel-heading
          %span.panel-title Statistics
        .list-group
          %a.list-group-item
            %strong {{artist.stats.listeners}}
            listeners
          %a.list-group-item
            %strong {{artist.stats.playcount}}
            plays
      .panel.panel-transparent.profile-skills
        .panel-heading
          %span.panel-title Tags
        .panel-body
          %a{ ng: { repeat: "tag in artist.tags.tag", click: "go(['tag', tag.name])" } }
            %span.label.label-primary {{tag.name}}
      .panel.panel-transparent
        .panel-heading
          %span.panel-title More
        .list-group
          %a.list-group-item{ href: "{{artist.url}}", target: '_blank' }
            View more from {{artist.name}} on Last.fm
    .right-col
      %hr.profile-content-hr.no-grid-gutter-h/
      .profile-content
        %ul#profile-tabs.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#profile-tabs-top-albums", showtab: "" } Top albums
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-top-tracks", showtab: "", ng: { click: "load_top_tracks()" } } Top Tracks
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-events", showtab: "", ng: { show: "artist.ontour == '1'", click: "load_events()" } } Events
          %li
            %a{"data-toggle" => "tab", :href => "#profile-tabs-similar", showtab: ""} Similar artists
          %li.pull-right
            %a{ ng: { show: 'artist.top_tracks', click: "addTracksToPlaylist(artist.top_tracks, true)", title: 'Play all' } }
              %i.fa.fa-play
              Play top tracks
        .tab-content.tab-content-bordered.panel-padding
          #profile-tabs-top-albums.tab-pane.fade.in.active
            %ul.grid.cs-style-3.row
              %li.col-lg-4{ ng: { repeat: 'album in artist.top_albums'} }
                = render 'home/album'
            .text-center{ ng: { hide: "artist.top_albums"} }
              %i.fa.fa-cog.fa-spin
              Loading albums...
          #profile-tabs-top-tracks.tab-pane.fade.widget-followers
            .text-center{ ng: { hide: "artist.top_tracks"} }
              %br
              %i.fa.fa-cog.fa-spin
              Loading tracks...
              %br
              %br
            .follower{ ng: { repeat: 'track in artist.top_tracks', drag: "true", 'drag-data' => "track" } }
              = render 'home/track'

          #profile-tabs-events.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in
            = render 'home/event'

            .clearfix
          #profile-tabs-similar.widget-article-comments.tab-pane.panel.no-padding.no-border.fade.in
            = render 'home/similar_artists'
