- if @artist
  - autoload = true
  .ui-layout-west.scroll-pane
    .artist
      .col-md-3.cover
        = image_tag @img_url + @artist["pic_medium"]
      .col-md-9.info
        %h2
          = @artist["desc"]
        -if @genres
          - @genres.each do |genre|
            %span.label.label-info= genre

      .clearfix
    #accordion.panel-group.albuns
      - @discography["item"].each_with_index do |album, index|
        .panel.panel-default.album
          .panel-heading
            %h4.panel-title
              .row
                .col-md-2.cover
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse_#{index}"}
                    = image_tag @img_url + album["cover"]
                .col-md-10.info
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse_#{index}"}
                    %h3= album["desc"]

          .panel-collapse.collapse{id: "collapse_#{index}", class: (index == 0 ? 'in' : '')}
            .panel-body
              %ol
                - album["discs"][0].each_with_index do |music, music_index|
                  %li.music_link{ data: { target: "#collapse_#{index}" }, class: (index == 0 && music_index == 0 ? 'active' : '') }
                    = link_to player_index_path(artist: @artist["desc"], music: music["desc"], code: music['id']) do
                      .song
                        .col-md-2
                          &nbsp;
                        .col-md-10
                          %i.status.icon-music
                          %span= music["desc"]
                        .clearfix

  .ui-layout-center.scroll-pane
    .col-md-6
      %section#player
        #player_container
        %br
        .btn-group.btn-group-justified
          %a.btn.btn-default#backward
            %i.icon-fast-backward
          %a.btn.btn-default#play_pause
            %i.icon-play
          %a.btn.btn-default#forward
            %i.icon-fast-forward

      - if Rails.env.production?
        %section#merchant
          %br
          %br
          .boo-widget
          :javascript
            bb_bid = "1690293";
            bb_lang = "en-US";
            bb_name = "custom";
            bb_limit = "7";
            bb_format = "bbc";
          = javascript_include_tag "http://static.boo-box.com/javascripts/embed.js"
    .col-md-6
      %section#song_info
        %header
      %section#lyrics
        %article
          %header
            %h3
        #lyric_text
  .ui-layout-east.scroll-pane

    - if @artist['related']
      %section#related_artists
        %h3
          %i.icon-group
          Artistas relacionados
        %ul
          - @artist['related'].each do |artist|
            %li
              = link_to artist_index_path(artist: artist['name']) do
                .row
                  .col-md-2
                    = image_tag "http://s2.vagalume.com#{artist['url']}images/profilew40.jpg"
                  .col-md-9
                    %span= artist['name']

      %section#social
        %h3
          %i.icon-share
          Compartilhe o seu player
        %br
        .twitter
          %a{href: "https://twitter.com/share", class: "twitter-share-button", 'data-text' => "#{@artist['desc']} - discografia completa. Ouça essa e outras discografias completas no Alle Songs! #{artist_index_url(artist: @artist['desc'])}", data: { lang: "en", size: "large", count: "none"}} Tweet
        .facebook
          .fb-like{"data-action" => "like", "data-colorscheme" => "light", "data-height" => "100", "data-width" => "250", "data-href" => artist_index_url(artist: @artist['desc']), "data-layout" => "standard", "data-send" => "false", "data-show-faces" => "true"}
