!!!
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
/ [if gt IE 9]><!
%html.gt-ie8.gt-ie9.not-ie{ ng: {app: "allesongs" } }
  / <![endif]
  %head

    %title= @page_title
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", name: "viewport"}
    %meta{content: @page_description, name: "description"}
    %meta{content: "letra, player online, discografia", name: "keywords"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "AlleSongs", property: "og:site_name"}
    %meta{content: "► #{@page_title}", property: "og:title"}
    %meta{content: root_url, property: "og:url"}
    %meta{content: asset_url('logo.png') , property: "og:image"}
    %meta{content: @page_description, property: "og:description"}
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
  %body
    %h1= @page_title
    %h2= @page_description
    %container= yield
    %section
      %strong A little message for you:
      %br
      %br
      This project is developed and maintained by
      = link_to 'MTX Web & Art', 'http://www.mtxwebart.com', target: '_blank'
      with the goal of bringing the art closer to any people anywhere. All information here is taken from public sources such as
      = link_to 'Last.fm,', 'http://www.lastfm.com.br', target: '_blank'
      = link_to 'Vagalume', 'http://www.vagalume.com.br', target: '_blank'
      and
      = link_to 'Youtube.', 'http://www.youtube.com', target: '_blank'
      This project uses amazing open tools of communities such as
      = link_to 'Ruby on Rails', 'http://rubyonrails.org', target: '_blank'
      and
      = link_to 'AngularJS.', 'https://angularjs.org', target: '_blank'
      %br
      %br
      To help us to keep this project alive, you can share it with your friends,
      = link_to 'make a donation,', 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MHY2M4GWYDDU2', target: '_blank'
      collaborate with any of the projects mentioned above or any other open source project. A simple
      = mail_to 'mtxwebart@gmail.com', 'message'
      would help a lot too!
      %i.fa.fa-smile-o
      %a.btn.btn-primary.btn-block.btn-outline.dark{:href => "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MHY2M4GWYDDU2", target: '_blank'} Make a Donation!

