- @page_title = @artist.present? ? "#{@artist['desc']} | Online Music Player" : "Alle Songs | Online Music Player"
- @page_description = "#{@page_title} | Ouça agora as discografias completas dos seus artistas preferidos online gratis!"
%title= @page_title
%meta{content: @page_description, name: "description"}
%meta{content: "letra, player online, discografia", name: "keywords"}
%meta{content: "website", property: "og:type"}
%meta{content: "Alle Songs", property: "og:site_name"}
%meta{content: @page_title, property: "og:title"}
- if @artist.present?
  %meta{content: artist_root_url(@artist['desc'].sub("&", "e").sub(' ', '+')), property: "og:url"}
  %meta{content: "http://s2.vagalume.com#{@artist["pic_medium"]}" , property: "og:image"}
- else
  %meta{content: root_url, property: "og:url"}

%meta{content: @page_description, property: "og:description"}
= favicon_link_tag "favicon.ico"
