!!!
%html
  %head        
    = render 'layouts/head'
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", media: "all"
    = stylesheet_link_tag    "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", media: "all"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery_ujs"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true    
    = csrf_meta_tags
  %body
    = render 'layouts/facebook'
    = render 'layouts/twitter'
    .ui-layout-north
      %header
        %nav.navbar.navbar-default{role: "navigation"}
          .navbar-header
            .navbar-brand
              = link_to root_path do
                .logo
                  %i.icon-play-circle.icon-2x
                %h1
                  Alle Songs | Online Music Player
          %form.navbar-form.navbar-right{role: "search"}
            .form-group
              %input#suggest_input.form-control{placeholder: "Buscar artistas", type: "text", name: "artist"}
            %button.btn.btn-default{type: "submit"}
              %i.icon-search

    = yield
    .ui-layout-south
      %footer
        .copy.pull-left
          Alle Songs
          %sup
            beta
          |
          Online Music Player
        .developed_by.pull-right
          Desenvolvido por
          = link_to "http://www.mtxwebart.com", target: "_blank" do
            %strong MTX

    = render 'layouts/analytics'
    = render 'layouts/adroll'

