!!!
/
  TABLE OF CONTENTS.

  Use search to find needed section.

  \===================================================================

  |  1. $BODY                        |  Body                        |
  |  2. $MAIN_NAVIGATION             |  Main navigation             |
  |  3. $NAVBAR_ICON_BUTTONS         |  Navbar Icon Buttons         |
  |  4. $MAIN_MENU                   |  Main menu                   |
  |  5. $UPLOADS_CHART               |  Uploads chart               |
  |  6. $EASY_PIE_CHARTS             |  Easy Pie charts             |
  |  7. $EARNED_TODAY_STAT_PANEL     |  Earned today stat panel     |
  |  8. $RETWEETS_GRAPH_STAT_PANEL   |  Retweets graph stat panel   |
  |  9. $UNIQUE_VISITORS_STAT_PANEL  |  Unique visitors stat panel  |
  |  10. $SUPPORT_TICKETS            |  Support tickets             |
  |  11. $RECENT_ACTIVITY            |  Recent activity             |
  |  12. $NEW_USERS_TABLE            |  New users table             |
  |  13. $RECENT_TASKS               |  Recent tasks                |

  \===================================================================
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
/ [if gt IE 9]><!
%html.gt-ie8.gt-ie9.not-ie{ ng: {app: "allesongs" } }
  / <![endif]
  %head
    
    - @page_title = "AlleSongs | Discografias online"
    - @page_description = "Ouça agora as discografias completas dos seus artistas preferidos, online e grátis!"
    %title= @page_title
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", name: "viewport"}
    %meta{content: @page_description, name: "description"}
    %meta{content: "letra, player online, discografia", name: "keywords"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "AlleSongs", property: "og:site_name"}
    %meta{content: "► #{@page_title}", property: "og:title"}
    %meta{content: root_url, property: "og:url"}
    %meta{content: asset_url('logo.png') , property: "og:image"}
    %meta{content: @page_description, property: "og:description"}

    = favicon_link_tag "favicon.ico"

    / Open Sans font from Google CDN
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin"
    / Pixel Admin's stylesheets
    = stylesheet_link_tag    "bootstrap"
    = stylesheet_link_tag    "pixel-admin"
    = stylesheet_link_tag    "pixel-admin-scss/widgets/widgets"
    = stylesheet_link_tag    "pixel-admin-scss/rtl/rtl"
    = stylesheet_link_tag    "pixel-admin-scss/themes/themes"
    = stylesheet_link_tag    "pixel-admin-scss/pages/pages"
    = stylesheet_link_tag    "component"
    = stylesheet_link_tag    "ymusica"
    = stylesheet_link_tag    "home", media: "all"

    = csrf_meta_tags
    
    /[if lt IE 9]
      <script src="assets/javascripts/ie.min.js"></script>
  /
    1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'      - Sets text direction to right-to-left
    * 'main-menu-right'    - Places the main menu on the right side
    * 'no-main-menu'       - Hides the main menu
    * 'main-navbar-fixed'  - Fixes the main navigation
    * 'main-menu-fixed'    - Fixes the main menu
    * 'main-menu-animated' - Animate main menu
  %body.theme-purple-hills.main-menu-animated{"ng-controller" => "TracksCtrl"}
    :javascript
      var init = [];
    / / Demo script

    #main-wrapper
      /
        2. $MAIN_NAVIGATION ===========================================================================

        Main navigation
      #main-navbar.navbar.navbar-inverse{:role => "navigation"}
        / Main menu toggle
        %button#main-menu-toggle{:type => "button"}
          %i.fa.fa-youtube-play.icon.fa-2x
          %span.hide-menu-text HIDE MENU
        .navbar-inner
          / Main navbar header
          .navbar-header
            / Logo
            %a.navbar-brand{:href => "/"}
              AlleSongs
            / Main navbar toggle
            %button.navbar-toggle.collapsed{"data-target" => "#main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %i.navbar-icon.fa.fa-bars
          / / .navbar-header
          #main-navbar-collapse.collapse.navbar-collapse.main-navbar-collapse
            %div
              %ul.nav.navbar-nav
                %li
                  %a{ng: { click: "go('/metallica')" } } Home
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", ng: { click: "go('/pantera')" } } Dropdown
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} First item
                    %li
                      %a{:href => "#"} Second item
                    %li.divider
                    %li
                      %a{:href => "#"} Third item
              / / .navbar-nav
              .right.clearfix
                %ul.nav.navbar-nav.pull-right.right-navbar-nav
                  /
                    3. $NAVBAR_ICON_BUTTONS =======================================================================

                    Navbar Icon Buttons

                    NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.

                    Classes:
                    * 'nav-icon-btn-info'
                    * 'nav-icon-btn-success'
                    * 'nav-icon-btn-warning'
                    * 'nav-icon-btn-danger'
                  %li.nav-icon-btn.nav-icon-btn-danger.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#notifications"}
                      %span.label 5
                      %i.nav-icon.fa.fa-bullhorn
                      %span.small-screen-text Notifications
                    / NOTIFICATIONS
                    / Javascript
                    :javascript
                      init.push(function () {
                      	$('#main-navbar-notifications').slimScroll({ height: 250 });
                      });
                    .dropdown-menu.widget-notifications.no-padding{:style => "width: 300px"}
                      #main-navbar-notifications.notifications-list
                        .notification
                          .notification-title.text-danger SYSTEM
                          .notification-description
                            %strong> Error 500
                            \: Syntax error in index.php at line
                            = succeed "." do
                              %strong 461
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-danger
                        / / .notification
                        .notification
                          .notification-title.text-info STORE
                          .notification-description
                            You have
                            %strong 9
                            new orders.
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-truck.bg-info
                        / / .notification
                        .notification
                          .notification-title.text-default CRON DAEMON
                          .notification-description
                            Job
                            %strong "Clean DB"
                            has been completed.
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-clock-o.bg-default
                        / / .notification
                        .notification
                          .notification-title.text-success SYSTEM
                          .notification-description
                            Server
                            = succeed "." do
                              %strong up
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-success
                        / / .notification
                        .notification
                          .notification-title.text-warning SYSTEM
                          .notification-description
                            %strong> Warning
                            \: Processor load
                            = succeed "." do
                              %strong 92%
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-warning
                      %a.notifications-link{:href => "#"} MORE NOTIFICATIONS
                  %li.nav-icon-btn.nav-icon-btn-success.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#messages"}
                      %span.label 10
                      %i.nav-icon.fa.fa-envelope
                      %span.small-screen-text Income messages
                    / MESSAGES
                    / Javascript
                    :javascript
                      init.push(function () {
                      	$('#main-navbar-messages').slimScroll({ height: 250 });
                      });
                    .dropdown-menu.widget-messages-alt.no-padding{:style => "width: 300px;"}
                      #main-navbar-messages.messages-list
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Michelle Bortz
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Timothy Owens
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Denise Steiner
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Michelle Bortz
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Timothy Owens
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Denise Steiner
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                      %a.messages-link{:href => "#"} MORE MESSAGES
                  %li
                    %form.navbar-form.pull-left
                      %input.form-control{:placeholder => "Search", :type => "text"}/
                  %li.dropdown
                    %a.dropdown-toggle.user-menu{"data-toggle" => "dropdown", :href => "#"}
                      %img{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
                      %span John Doe
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"}
                          %span.label.label-warning.pull-right> New
                          Profile
                      %li
                        %a{:href => "#"}
                          %span.badge.badge-primary.pull-right> New
                          Account
                      %li
                        %a{:href => "#"}
                          %i.dropdown-icon.fa.fa-cog>
                          \&nbsp;&nbsp;Settings
                      %li.divider
                      %li
                        %a{:href => "pages-signin.html"}
                          %i.dropdown-icon.fa.fa-power-off>
                          \&nbsp;&nbsp;Log Out
      #main-menu{:role => "navigation"}
        #main-menu-inner
          #menu-content-demo.menu-content.top
            /
              Menu custom content demo
              CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
              Javascript: html/assets/demo/demo.js
            %div
              .text-bg
                %span.text-slim Welcome,
                %span.text-semibold Guest
              %img{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .btn-group
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-facebook
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-user
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-cog
                %a.btn.btn-xs.btn-danger.btn-outline.dark{:href => "#"}
                  %i.fa.fa-power-off
              %a.close{:href => "#"} &times;
          %ul.navigation
            %li
              %a{:href => "index.html"}
                %i.menu-icon.fa.fa-dashboard
                %span.mm-text Dashboard
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-th
                %span.mm-text Layouts
                %span.label.label-warning Updated
              %ul
                %li
                  %a{:href => "layouts-grid.html", :tabindex => "-1"}
                    %span.mm-text Grid
                %li
                  %a{:href => "layouts-main-menu.html", :tabindex => "-1"}
                    %i.menu-icon.fa.fa-th-list
                    %span.mm-text Main menu
                    %span.label.label-warning Updated
            %li
              %a{:href => "stat-panels.html"}
                %i.menu-icon.fa.fa-tasks
                %span.mm-text Stat panels
            %li
              %a{:href => "widgets.html"}
                %i.menu-icon.fa.fa-flask
                %span.mm-text Widgets
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-desktop
                %span.mm-text UI elements
              %ul
                %li
                  %a{:href => "ui-buttons.html", :tabindex => "-1"}
                    %span.mm-text Buttons
                %li
                  %a{:href => "ui-typography.html", :tabindex => "-1"}
                    %span.mm-text Typography
                %li
                  %a{:href => "ui-tabs.html", :tabindex => "-1"}
                    %span.mm-text Tabs &amp; Accordions
                %li
                  %a{:href => "ui-modals.html", :tabindex => "-1"}
                    %span.mm-text Modals
                %li
                  %a{:href => "ui-alerts.html", :tabindex => "-1"}
                    %span.mm-text Alerts &amp; Tooltips
                %li
                  %a{:href => "ui-components.html", :tabindex => "-1"}
                    %span.mm-text Components
                %li
                  %a{:href => "ui-panels.html", :tabindex => "-1"}
                    %span.mm-text Panels
                %li
                  %a{:href => "ui-jqueryui.html", :tabindex => "-1"}
                    %span.mm-text jQuery UI
                %li
                  %a{:href => "ui-icons.html", :tabindex => "-1"}
                    %span.mm-text Icons
                %li
                  %a{:href => "ui-utility-classes.html", :tabindex => "-1"}
                    %span.mm-text Utility classes
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-check-square
                %span.mm-text Form components
              %ul
                %li
                  %a{:href => "forms-layouts.html", :tabindex => "-1"}
                    %span.mm-text Layouts
                %li
                  %a{:href => "forms-general.html", :tabindex => "-1"}
                    %span.mm-text General
                %li
                  %a{:href => "forms-advanced.html", :tabindex => "-1"}
                    %span.mm-text Advanced
                %li
                  %a{:href => "forms-pickers.html", :tabindex => "-1"}
                    %span.mm-text Pickers
                %li
                  %a{:href => "forms-validation.html", :tabindex => "-1"}
                    %span.mm-text Validation
                %li
                  %a{:href => "forms-editors.html", :tabindex => "-1"}
                    %span.mm-text Editors
            %li
              %a{:href => "tables.html"}
                %i.menu-icon.fa.fa-table
                %span.mm-text Tables
            %li
              %a{:href => "charts.html"}
                %i.menu-icon.fa.fa-bar-chart-o
                %span.mm-text Charts
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-files-o
                %span.mm-text Pages
                %span.label.label-success 16
              %ul
                %li
                  %a{:href => "pages-search.html", :tabindex => "-1"}
                    %span.mm-text Search results
                %li
                  %a{:href => "pages-pricing.html", :tabindex => "-1"}
                    %span.mm-text Plans &amp; pricing
                %li
                  %a{:href => "pages-faq.html", :tabindex => "-1"}
                    %span.mm-text FAQ
                %li
                  %a{:href => "pages-profile.html", :tabindex => "-1"}
                    %span.mm-text Profile
                %li
                  %a{:href => "pages-timeline.html", :tabindex => "-1"}
                    %span.mm-text Timeline
                %li
                  %a{:href => "pages-signin.html", :tabindex => "-1"}
                    %span.mm-text Sign In
                %li
                  %a{:href => "pages-signup.html", :tabindex => "-1"}
                    %span.mm-text Sign Up
                %li
                  %a{:href => "pages-signin-alt.html", :tabindex => "-1"}
                    %span.mm-text Sign In Alt
                %li
                  %a{:href => "pages-signup-alt.html", :tabindex => "-1"}
                    %span.mm-text Sign Up Alt
                %li
                  %a{:href => "pages-invoice.html", :tabindex => "-1"}
                    %span.mm-text Invoice
                %li
                  %a{:href => "pages-404.html", :tabindex => "-1"}
                    %span.mm-text Error 404
                %li
                  %a{:href => "pages-500.html", :tabindex => "-1"}
                    %span.mm-text Error 500
                %li.mm-dropdown
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-envelope
                    %span.mm-text Messages
                  %ul
                    %li
                      %a{:href => "pages-inbox.html", :tabindex => "-1"}
                        %span.mm-text Inbox
                    %li
                      %a{:href => "pages-show-email.html", :tabindex => "-1"}
                        %span.mm-text Show message
                    %li
                      %a{:href => "pages-new-email.html", :tabindex => "-1"}
                        %span.mm-text New message
                %li
                  %a{:href => "pages-blank.html", :tabindex => "-1"}
                    %span.mm-text Blank page
            %li
              %a{:href => "complete-ui.html"}
                %i.menu-icon.fa.fa-briefcase
                %span.mm-text Complete UI
            %li
              %a{:href => "color-builder.html"}
                %i.menu-icon.fa.fa-tint
                %span.mm-text Color Builder
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-sitemap
                %span.mm-text Menu levels
                %span.badge.badge-primary 6
              %ul
                %li
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.1
                    %span.badge.badge-danger 12
                    %span.label.label-info 21
                %li
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.2
                %li.mm-dropdown
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.3
                    %span.label.label-warning 5
                  %ul
                    %li
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.1
                    %li.mm-dropdown
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.2
                      %ul
                        %li.mm-dropdown
                          %a{:href => "#", :tabindex => "-1"}
                            %span.mm-text Menu level 3.1
                          %ul
                            %li
                              %a{:href => "#", :tabindex => "-1"}
                                %span.mm-text Menu level 4.1
                        %li
                          %a{:href => "#", :tabindex => "-1"}
                            %span.mm-text Menu level 3.2
                    %li
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.2
          / / .navigation
          .menu-content
            %a.btn.btn-primary.btn-block.btn-outline.dark{:href => "pages-invoice.html"} Create Invoice
        .row
      .col-md-8.no-padding
        #content-wrapper
          .page-header
            / Page header, center on small screens
            %form#suggest_form{role: "search", action: artist_index_path}
              %h1.col-xs-12.text-center.text-left-sm
                .input-group.no-margin
                  %span.input-group-addon
                    %i.fa.fa-search.page-header-icon.pull-left>
                  %input#suggest_input.form-control.no-padding-hr.pull-left.typeahead{placeholder: "Buscar artista, album, música...", type: "text", name: "artist"}
          #pages-container{ng: { view: '' } }= yield
        .row
      = render 'layouts/player'
      #main-menu-bg
    / / #main-wrapper
    / Get jQuery from Google CDN
    / [if !IE]>
    :javascript
      window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>");
    / <![endif]
    /[if lte IE 9]
      <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    / Pixel Admin's javascripts

    = javascript_include_tag "modernizr.custom"
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery_ujs"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = javascript_include_tag "bootstrap"
    = javascript_include_tag "pixel-admin"
    = javascript_include_tag "toucheffects"
    = javascript_include_tag "home"

    = render 'layouts/analytics'

    :javascript
      init.push(function () {

      	//$('#playlist').slimScroll({ height: 508, alwaysVisible: true, color: '#888',allowPageScroll: true });


      } );

      window.PixelAdmin.start(init);
