!!!
%html
  %head
    - @page_title = "Alle Songs | Discografias online"
    - @page_description = "Ouça agora as discografias completas dos seus artistas preferidos, online e grátis!"
    %title= @page_title
    %meta{content: @page_description, name: "description"}
    %meta{content: "letra, player online, discografia", name: "keywords"}
    %meta{content: "website", property: "og:type"}
    %meta{content: "Alle Songs", property: "og:site_name"}
    %meta{content: @page_title, property: "og:title"}
    %meta{content: root_url, property: "og:url"}
    %meta{content: asset_url('logo.png') , property: "og:image"}
    %meta{content: @page_description, property: "og:description"}
    = favicon_link_tag "favicon.ico"

    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", media: "all"
    = stylesheet_link_tag    "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", media: "all"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Molle:400italic", media: "all"

    = stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/facebook'
    = render 'layouts/twitter'
    #wrap
      %section#home
        .logo

        %h1
          Alle Songs
          %sup
            %i.icon-youtube-play
      %section#search
        .row
          .col-md-4.col-md-offset-4
            %form.form-inline#suggest_form{role: "search", action: artist_index_path}
              - flash.each do |name, msg|
                .alert.alert-danger= msg
              .form-group
                %input#suggest_input.form-control{placeholder: "Nome do artista", type: "text", name: "artist", required: ''}
                %button.btn.btn-default{type: "submit"}
                  %i.icon-search

      .clearfix
      = yield
    %footer#footer
      .copy.pull-left
        Alle Songs
        %sup
          %i.icon-youtube-play
        |
        Discografias online
      .developed_by.pull-right
        Desenvolvido por
        = link_to "http://www.mtxwebart.com", target: "_blank" do
          %strong MTX
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery_ujs"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = javascript_include_tag "home"
    = render 'layouts/analytics'
