!!!
%html
  %head
    %title Alle Songs | Music Player
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", media: "all"

    = stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %section#home
      .logo
        %i.icon-play-circle.icon-2x
      %h1
        Alle Songs
        %sup &reg;
    %section#search
      .row
        .col-md-4.col-md-offset-4
          %form.form-inline{role: "search", action: artist_index_path}
            .form-group
              %input.form-control{placeholder: "Buscar artistas", type: "text", name: "artist", required: ''}
            .form-group
              %button.btn.btn-default{type: "submit"}
                %i.icon-search

    .clearfix
    = yield
    .ui-layout-south
      %footer
        Alle Songs
        %sup
          &reg;
        |
        Music Player
        Desenvolvido por MTX
    = javascript_include_tag "home", "data-turbolinks-track" => true
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js", "data-turbolinks-track" => true
